<div class="input-auth-container" >
  <label for="">{{ label }}</label>
  <div class="input-container" [ngClass]="{'hasError': hasError}">
    <div class="icon-box">
      <ng-template *ngTemplateOutlet="iconTemplate">
      </ng-template>
    </div>
    <div class="input-box">
      <input
        type="{{ type }}"
        (input)="onInputChange($event)"
        [(ngModel)]="value"
        placeholder="{{ placeholder }}"
      
      />
    </div>
  </div>
  <mat-error *ngIf="hasError">{{ errorMsg }}</mat-error>
</div>
