.input-auth-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  label {
    font-size: 14.4px;
    color: var(--text-secundary);
    display: block;
  }

  input {
    width: 100%;
    height: 2.8125rem;
    border-radius: 4px;
    padding: .3125rem .625rem;
    margin: .3125rem 0rem;

    border: .0625rem solid var(--border-input);
    background-color: var(--primary);
    transition: 0.3s;

    margin-top: .1875rem;

    color: var(--text-secundary);

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
      border: 1px solid var(--brand);
    }

    &::placeholder {
      font-size: 14.4px;
    }
  }

  .hasError {
    border: .0625rem solid var(--danger);
  }
}


