.container {
  width: 100%;
  height: 100dvh;
  background-color: var(--primary);
  display: grid;
  grid-template-areas: "side content";
  grid-template-rows: auto;
  grid-template-columns: 97px auto;
  transition: 0.4s;
}

.activedSide {
  grid-template-columns: 270px auto;
}

.content {
  grid-area: content;
  background-color: var(--primary);
  padding: 24px 19px;
}

.table-container {
  .mat-mdc-paginator {
    background: none;
    color: var(text-secundary);
  }
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  margin-top: 24px;

  background-color: var(--secundary);

  table {
    th,
    td {
      text-align: center;
      border-bottom-style: none;
      width: 50%;
    }

    th {
      background-color: var(--terciary);
      width: 50%;
    }

    tr {
      height: 50px;
      border-collapse: collapse;
    }

    tr:nth-child(even) {
      background-color: var(--terciary);
    }

    tr:nth-child(odd) {
      background-color: var(--primary); 
    }
  }
}

.actions-container {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  button:first-child {
    background-color: var(--warning);
  }

  button:last-child {
    background-color: var(--danger);
    margin-left: 7px;
  }
}
