<div class="container" [ngClass]="{ activedSide: isActivedSide }">
  <ng-container *ngIf="isSmallScreenFunction(); else showSide">
    <td-nav-bar (isActivedSideChange)="activedSide($event)" />
  </ng-container>
  <ng-template #showSide>
    <td-side-bar (isActivedSideChange)="activedSide($event)" />
  </ng-template>

  <div class="content">
    <td-header
      [Icon]="listTodoIcon"
      title="Listas"
      description="Página de gerenciamento das listas"
    />

    <div class="message-container" *ngIf="!isAssignmentList">
      <h2>Sem listas no momento, adcione um nova.</h2>
    </div>

    <div class="ghost-list-container" *ngIf="isLoading">
      <div
        class="row-ghost"
        *ngFor="let _ of [].constructor(lineGhostCount); let i = index"
      ></div>
    </div>

    <div
      class="table-container"
      [ngClass]="{ isNotAssignmentList: !isAssignmentList }"
    >
      <div>
        <table mat-table [dataSource]="dataSource" matSort *ngIf="!isLoading">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">
              {{
                element.name.length > 30
                  ? element.name.slice(0, 10) + "..."
                  : element.name
              }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
              <div class="actions-container">
                <button (click)="openEditModal(element.id, element.name)">
                  <td-edit-icon />
                </button>
                <button (click)="openDeleteModal(element.id, element.name)">
                  <td-delete-icon />
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: columnsToDisplay"
          ></tr>
          ">
        </table>
      </div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons="true"
      >
      </mat-paginator>
    </div>
  </div>

  <td-button-to-top class="button-to-top" />
</div>
