<div class="container" [ngClass]="{ activedSide: isActivedSide }">
  <td-side-bar (isActivedSideChange)="activedSide($event)" />

  <div class="content">
    <td-header
      [Icon]="listTodoIcon"
      title="Listas"
      description="Página de gerenciamento das listas"
    />

    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

    
       

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td class="row-action" mat-cell *matCellDef="let element">
            <div class="actions-container">
              <button>
                <td-edit-icon />
              </button>
              <button>
                <td-delete-icon />
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        ">
      </table>
    </div>
  </div>
</div>
