form {
  width: 450px;
  padding: 50px 30px;
  border-radius: 4px;
  background-color: var(--quart);
  transition: 0.2s;
  position: relative;
  z-index: 1000;


  @media (max-width: 600px) {
    width: 320px;
    padding: 50px 20px;
  }
}

h2 {
  color: var(--text-secundary);
  border-left: 7px solid var(--brand);
  padding: 0px 10px;
  margin-bottom: 24px;
  text-align: start;

  @media (max-width: 400px) {
    font-size: 1.3rem;
  }
}
