<form
  action="javascript:void(0)"
  (submit)="loginUser()"
  [formGroup]="signInForm"
>
  <h2>{{ title }}</h2>

  <td-input
    label="Email:"
    type="text"
    placeholder="Email:"
    [iconTemplate]="iconEmailTemplate"
    formControlName="email"
    [hasError]="hasEmailError()"
    [errorMsg]="hasMsgEmailError()"
  />

  <td-input-password
    label="Senha:"
    formControlName="password"
    placeholder="Senha:"
    [hasError]="hasPasswordError()"
    [errorMsg]="hasMsgPasswordError()"
  />

  <td-button [isDisabled]="!signInForm.valid" [isLoading]="isLoading">
    Entrar
  </td-button>
</form>

<ng-template #iconEmailTemplate>
  <ng-icon name="matEmail" />
</ng-template>