<form
  action="javascript:void(0)"
  (submit)="loginUser()"
  [formGroup]="signInForm"
>
  <h2>{{ title }}</h2>

  <td-input
    label="Email:"
    type="text"
    formControlName="email"
    [hasError]="hasEmailError()"
    [errorMsg]="hasMsgEmailError()"
  />

  <td-input
    label="Senha:"
    type="password"
    formControlName="password"
    [hasError]="hasPasswordError()"
    [errorMsg]="hasMsgPasswordError()"
  />

  <td-button [isDisabled]="!signInForm.valid" [isLoading]="isLoading">
    Entrar
  </td-button>
</form>
