.container {
  width: 250px;
  height: 112px;
  margin: 10px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--secundary);
  padding: 7px 9px;
  box-shadow: 0px 0px 3px #494949;

  .header-card {
    height: 22px;
    border-bottom: 1px solid var(--text-input);

    p {
      font-size: 0.8rem;

      &.to-do {
        color: var(--positive);
      }

      &.last-day {
        color: var(--warning);
      }

      &.overdue {
        color: var(--danger);
      }
    }
  }

  .body-card {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;

    &.to-do {
      border-left: 2px solid var(--positive);
    }

    &.last-day {
      border-left: 2px solid var(--warning);
    }

    &.overdue {
      border-left: 2px solid var(--danger);
    }

    strong {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--text-secundary);
    }

    p {
      font-size: 10px;
      color: var(--text-secundary);
    }

    .info-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    button {
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      position: relative;

      &:hover {
        background-color: #333333;

        .drop-card {
          display: flex;
        }
      }

      .drop-card {
        position: absolute;
        left: 20px;
        top: 10px;
        width: 114px;
        height: 104px;
        display: none;
        flex-direction: column;
        border-radius: 3px;
        background-color: var(--secundary);

        button {
          width: 100%;
          height: 33.3%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 0px;
          padding: 0px 10px;
          color: var(--text-secundary);

          span {
            margin-left: 7px;
          }

          &:hover {
            filter: invert(1);
          }
        }
      }
    }
  }

  .footer-card {
    width: 100%;
    height: 20px;

    display: flex;
    flex-direction: row;

    svg {
      color: #333333;
      font-size: 13px;

      display: flex;

      filter: grayscale(70%);

      border: 1px solid yellow;
    }

    p {
      color: var(--text-secundary);
      font-size: 9px;
      margin: 0px 5px;
    }
  }
}
