<div class="container">
  <div class="header-card">
    <p
      [ngClass]="{
        'to-do': status === 0,
        'last-day': status === 1,
        overdue: status === 2
      }"
    >
      Description
    </p>
  </div>

  <div
    class="body-card"
    [ngClass]="{
      'to-do': status === 0,
      'last-day': status === 1,
      overdue: status === 2
    }"
  >
    <div class="info-card">
      <strong>Estudar para prova</strong>

      <p>description</p>
    </div>

    <button>
      <img [ngSrc]="infoCardIcon" alt="" width="15" height="15" />

      <div class="drop-card">
        <button>
          <ng-icon name="heroCheckCircleSolid"></ng-icon> <span>Concluir</span>
        </button>
        <button>
          <td-edit-icon width="12" height="12" /> <span>Editar</span>
        </button>
        <button>
          <td-delete-icon width="12" height="12" /> <span>Deletar</span>
        </button>
      </div>
    </button>
  </div>

  <div class="footer-card">
    <td-list-icon width="18" height="18" />
    <p>tarefas</p>
    <td-time-icon width="18" height="18" />
    <p>24 de Outubro, 10:15</p>
  </div>
</div>
