<div class="container">
  <div class="header-card">
    <p
      [ngClass]="{
        'to-do': status === 0,
        'last-day': status === 1,
        overdue: status === 2
      }"
      [ngSwitch]="status"
    >
      <ng-container *ngSwitchCase="0">Concluído</ng-container>
      <ng-container *ngSwitchCase="1">A Fazer</ng-container>
      <ng-container *ngSwitchCase="2">Atrasado</ng-container>
      <ng-container *ngSwitchDefault>Estado Desconhecido</ng-container>
    </p>
  </div>

  <div
    class="body-card"
    [ngClass]="{
      'to-do': status === 0,
      'last-day': status === 1,
      overdue: status === 2
    }"
  >
    <div class="info-card">
      <strong>Tarefa:</strong>

      <p>
        {{
          description.length > 30
            ? description.slice(0, 30) + "..."
            : description
        }}
      </p>
    </div>

    <button>
      <img [ngSrc]="infoCardIcon" alt="" width="15" height="15" />

      <div class="drop-card">
        <button (click)="openViewModal(id, description)"><ng-icon name="ionEye" /> <span>Visualizar</span></button>
        
        <button (click)="openModalByStatus(id, description)">
          <ng-container *ngIf="!concluded; else UnConcludeTemplate">
            <ng-icon name="heroCheckCircleSolid"></ng-icon>
            <span>Concluir</span>
          </ng-container>

          <ng-template #UnConcludeTemplate>
            <ng-icon name="ionCloseCircle"></ng-icon> <span>Unconclude</span>
          </ng-template>
        </button>
        <button (click)="openDeleteModal(id, description)">
          <td-delete-icon width="12" height="12" /> <span>Deletar</span>
        </button>
      </div>
    </button>
  </div>

  <div class="footer-card">
    <td-list-icon width="18" height="18" />
    <p>{{ nameList.length > 10 ? nameList.slice(0, 10) + '...' : nameList }}</p>
    <td-time-icon width="18" height="18" />
    <p>{{ formatDeadLine() }}</p>
  </div>
</div>
