<div class="container">
    <div class="header-card">
        <p>Description</p>
    </div>

    <div class="body-card" >
        <div class="info-card">
            <strong>Estudar para prova</strong>
    
            <p>description</p>
        </div>

        <button>
            <img [ngSrc]="infoCardIcon" alt="" width="15" height="15" >
        </button>
    </div>

    <div class="footer-card">

        <img [ngSrc]="listCardIcon" alt="" width="15" height="15">
        <p>tarefas</p>
        <img [ngSrc]="timeCardIcon" alt="" width="15" height="15">
        <p>24 de Outubro, 10:15</p>

    </div>
</div>
