.filter-container {
  width: 100%;
  height: 3.625rem;
  border-radius: .3125rem;
  padding: .625rem 1.25rem;
  background-color: var(--secundary);
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;

  &.isActived {
    height: 8.125rem;
  }

  @media(max-width: 25rem){
    padding: .625rem .75rem;
  }

  .filter-container-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2.125rem;

    border-bottom: .0625rem solid var(--border-input);

    span {
      color: var(--text-secundary);
    }

    .arrow-svg {
      background: none;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      &.isActived {
        transform: rotate(180deg);
      }
    }
  }

  .form-container {
    width: 100%;
  }

  .filter-container-child-2 {
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s;
    filter: opacity(0);
    

    &.isActived {
        display: flex;
        filter: opacity(1);
    }
  }
}
