form {
  position: relative;
  top: 0.625rem;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;


  button {
    width: 100px;
    height: 37px;
    border-radius: 3px;
    background-color: var(--background);
    color: var(--primary);
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
    

    

    &:hover {
      filter: brightness(0.9);
    }

    &.isDisable {
        filter: brightness(0.7);
    }
  }
}
