<form
  action="javascript:void(0)"
  [formGroup]="filterTaskForm"
  (submit)="filterTasksButton()"
>
  <div class="container-action-filter">
    <mat-form-field>
      <mat-label>Listas</mat-label>
      <mat-select formControlName="assignmentListId">
        <mat-option *ngFor="let list of listTasks" [value]="list.id">{{
          list.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="hasAssignmentListIdError()">
        {{ msg.required }}</mat-error
      >
    </mat-form-field>

    <button
      [ngClass]="{ isDisable: !filterTaskForm.valid }"
      [disabled]="!filterTaskForm.valid"
    >
      <td-spinner *ngIf="isLoading" />
      <span *ngIf="!isLoading"> <ng-icon name="ionSearch" /> </span>
    </button>
  </div>

  <button type="button" class="clear-filter-button" (click)="clearFilter()">
    <div class="icon-container"><ng-icon name="heroXMark"/></div>
    <span> Limpar Filtro </span>
  </button>
</form>
