<div class="input-auth-container" >
    <label for="">{{ label }}</label>
    <div class="input-container" [ngClass]="{'hasError': hasError}">
      <div class="icon-box">
        <ng-icon name="ionLockClosed" />
      </div>
      <div class="input-box">
        <input
          type="{{ visibility ? 'text' : 'password' }}"
          (input)="onInputChange($event)"
          [(ngModel)]="value"
          placeholder="{{ placeholder }}"
        
        />
      </div>
      <button class="icon-eye-box" type="button" (click)="handleVisibilityInput()">
        <ng-icon name="ionEye" *ngIf="!visibility"/>
        <ng-icon name="ionEyeOff" *ngIf="visibility"/>
      </button>
    </div>
    <mat-error *ngIf="hasError">{{ errorMsg }}</mat-error>
  </div>
  