<td-generic-modal
  [headerTemplate]="headerTemplate"
  [bodyTemplate]="bodyTemplate"
  [footerTemplate]="footerTemplate"
/>

<ng-template #headerTemplate>
  <div class="header-modal">
    <td-add-icon width="23px" height="23px" />
    <h2>Cadastro de Lista</h2>
  </div>
</ng-template>

<ng-template #bodyTemplate>
  <div class="body-modal">

  </div>  
</ng-template>

<ng-template #footerTemplate>
  <div class="footer-modal">

    <button >Fechar</button>
    <button>Salvar</button>
  </div>
</ng-template>
