@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --background: #E9ECEF;
  --blue-light: #6933FF;

  --secundary: #202342;
  --text-primary: #dddddd;
  --text-secundary: #E9ECEF;
  --text-input: #6C757D;
  --text-label: #343A40;
  --brand: #27C498;
  --positive: #0D6EFD;
  --sucess: #198754;
  --warning: #FFC107;
  --danger: #DC3545;
  --font-primary: 'Poppins', sans-serif;

  --primary: rgb(32, 32, 36);
  --secundary: rgb(41, 41, 46);


}

html {

  @media (max-width: 1000px) {
      font-size: 93.75%;
  }

  @media (max-width: 720px){
      font-size: 87.5%;
  }
}

body {
  background-color: var(--primary);
  --webkit-font-smoothing: antialisse;
  font-family: var(--font-primary);
}
