<form (submit)="registerUser()" [formGroup]="signUpForm" action="javascript:void(0)">
  <h2>{{ title }}</h2>

  <td-input
    label="Nome:"
    type="text"
    formControlName="name"
    [hasError]="isInvalid('name', 'required')"
    [errorMsg]="msg.required"
  />

  <td-input
    label="Email:"
    type="text"
    formControlName="email"
    [hasError]="hasEmailError()"
    [errorMsg]="hasMsgEmailError()"
  />

  <td-input
    label="Senha:"
    type="password"
    formControlName="password"
    [hasError]="hasPasswordError()"
    [errorMsg]="hasPasswordErrorMsg()"
  />

  <td-input
    label="Confirmação de Senha:"
    type="password"
    formControlName="passwordConfirm"
    [hasError]="hasPasswordMatchError()"
    [errorMsg]="hasMsgPasswordMatchError()"
  />

  <td-button [isDisabled]="!signUpForm.valid" [isLoading]="isLoading"> Cadastre-se </td-button>
</form>
