<form action="javascript:void(0)" [formGroup]="addTaskForm">
  <div class="grid-body">
    <div class="input-container">
      <td-app-input
        label="Data de conclusão"
        type="date"
        [hasError]="hasDateError()"
        [errorMsg]="msg.required"
        formControlName="deadline"
      />
    </div>

    <div class="input-container">
      <td-app-input
        label="Hora de conclusão"
        type="time"
        [hasError]="hasTimeHourError()"
        [errorMsg]="msg.required"
        formControlName="timeHour"
      />
    </div>
  </div>

  <div class="input-container">
    <mat-form-field>
      <mat-label>Lista</mat-label>
      <mat-select formControlName="assignmentListId">
        <mat-option *ngFor="let list of listTasks" [value]="list.id">{{
          list.name
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="hasListError()">{{ msg.required }}</mat-error>
    </mat-form-field>
  </div>

  <div class="text-area-container">
    <td-text-area
      rows="4"
      label="Descrição"
      [disabled]="false"
      [hasError]="hasDescriptionError()"
      [errorMsg]="msg.required"
      formControlName="description"
      [disabled]="false"
    />
  </div>


  <div class="footer-modal">
    <button (click)="closeModal()">Fechar</button>
    <button
      [disabled]="!addTaskForm.valid"
      [ngClass]="{ isDisabled: !addTaskForm.valid }"
      (click)="registerTask()"
    >
      <td-spinner *ngIf="isLoading" />

      <span *ngIf="!isLoading">Salvar</span>
    </button>
  </div>
</form>
