.container-modal {
    width: 650px;
    height: 370px;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--secundary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  