.text-area-container {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14.4px;
    color: var(--text-secundary);
    display: block;
  }

  textarea {
    width: 100%;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--text-secundary);
    border-radius: 4px;
    transition: 0.3s;
    margin-top: 0.1875rem;
    resize: none;
    padding: 10px;
    margin: 0.3125rem 0rem;
    font-family: var(--font-primary) ;

    &.hasError {
      border: 1px solid var(--danger);
    }

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
      border: 1px solid var(--brand);
    }
  }
}

.isDisabled {
  filter: opacity(0.5);
  cursor: not-allowed;
}
