.text-area-container {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14.4px;
    color: var(--text-secundary);
    display: block;
  }

  textarea {
    width: 100%;
    background-color: var(--primary);
    border: 1px solid #6c757d;
    border-radius: 3px;
    transition: 0.3s;
    margin-top: 0.1875rem;
    resize: none;

    .hasError {
      border: 1px solid var(--danger);
    }

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
      border: 1px solid var(--brand);
    }
  }
}

.isDisabled {
  filter: opacity(0.5);
  cursor: not-allowed;
}
