<div class="container" [ngClass]="{ activedSide: isActivedSide }">
  <td-side-bar (isActivedSideChange)="activedSide($event)" />

  <div class="content">
    <td-header
      [Icon]="homeTodoIcon"
      title="Tarefas"
      description="Página de gerenciamento das tarefas"
    />

    <div class="grid-cards">
      <td-card-task [status]="0" />
      <td-card-task [status]="2" />
      <td-card-task [status]="1" />
      <td-card-task [status]="0" />
      <td-card-task [status]="0" />
      <td-card-task [status]="1" />
      <td-card-task [status]="2" />
      <td-card-task [status]="0" />
      <td-card-task [status]="2" />
      <td-card-task [status]="1" />
      <td-card-task [status]="0" />
    </div>
  </div>
</div>
