.container {
  width: 100%;
  height: 100dvh;
  background-color: var(--primary);
  display: grid;
  grid-template-areas: "side content";
  grid-template-rows: auto;
  grid-template-columns: 6.0625rem auto;
  transition: 0.4s;
  position: relative;

  .button-to-top {
    position: absolute;
  }

  .grid-ghost-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: .625rem;

    .ghost-card {
      width: 15.625rem;
      height: 7rem;
      margin: .625rem 0rem;
      border-radius: .625rem;
      background-color: var(--secundary);
      padding: .5625rem;
    }

    @media (max-width: 40.625rem) {
      justify-content: center;
    }
  }

  .grid-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1.25rem;
    gap: .625rem;

    &.isNoAssignment {
      align-items: center;
      justify-content: center;
      height: calc(100dvh - 11.4375rem);
    }

    .noAssignmentContainer {
      h2 {
        text-align: center;
        color: var(--text-secundary);

        @media (max-width: 37.5rem) {
          font-size: 19.2px;
        }
      }
    }

    @media (max-width: 40.625rem) {
      justify-content: center;
    }
  }

  .container-load-assignments {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: .1875rem;
      background-color: var(--background);
      margin-top: 1.5625rem;
      color: var(--primary);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      border: none;
      cursor: pointer;
      transition: 0.3s;

      .icon-container {
        transform: scale(1.5);
      }

      &:hover {
        transform: scale(1.05);
      }

      div {
        position: relative;
        left: .0625rem;
        top: .0625rem;
      }
    }
  }

  @media (max-width: 37.5rem) {
    grid-template-areas:
      "nav"
      "content";

    grid-template-rows: 4.8125rem auto;
    grid-template-columns: auto;
  }
}

.activedSide {
  grid-template-columns: 16.875rem auto;

  @media (max-width: 37.5rem) {
    grid-template-columns: auto;
  }
}

.content {
  grid-area: content;
  background-color: var(--primary);
  padding: 1.5rem 1.1875rem;
}
