<div class="container" [ngClass]="{ activedSide: isActivedSide }">
  <ng-container *ngIf="isSmallScreenFunction(); else showSide">
    <td-nav-bar (isActivedSideChange)="activedSide($event)" />
  </ng-container>
  <ng-template #showSide>
    <td-side-bar (isActivedSideChange)="activedSide($event)" />
  </ng-template>

  <div class="content">
    <td-header
      [Icon]="homeTodoIcon"
      title="Tarefas"
      description="Página de gerenciamento de tarefas"
    />

    <td-filter [isFiltered]="isFiltered" />

    <div class="grid-cards" [ngClass]="{ isNoAssignment: !isAssignment }">
      <ng-container *ngIf="isAssignment; else noAssignment">
        <td-card-task
          *ngFor="let item of assignments"
          [description]="item.description"
          [deadline]="item.deadLine"
          [concluded]="item.concluded"
          [id]="item.id"
          [nameList]="nameList ? nameList : item.assignmentListName"
        />
      </ng-container>

      <ng-template #noAssignment>
        <div class="noAssignmentContainer">
          <h2>
            Nenhuma tarefa disponível no momento. Comece adicionando uma lista
            e, em seguida, inclua uma nova tarefa.
          </h2>
        </div>
      </ng-template>
    </div>

    <div *ngIf="isLoadingAssignmentsGhost" class="grid-ghost-cards">
      <div
        class="ghost-card"
        *ngFor="let _ of [].constructor(ghostCardsCount); let i = index"
      ></div>
    </div>

    <div class="container-load-assignments" *ngIf="isAssignment">
      <button (click)="loadAssignmentsPlus()">
        <div class="icon-container">
          <td-spinner *ngIf="isLoadingAssignments" width="14px" height="14px" />

          <ng-icon name="heroPlusSmallSolid" *ngIf="!isLoadingAssignments" />
        </div>
      </button>
    </div>
  </div>

  <td-button-to-top class="button-to-top" />
</div>
