<div class="container" [ngClass]="{ activedSide: isActivedSide }">
  <td-side-bar (isActivedSideChange)="activedSide($event)" />

  <div class="content">
    <td-header
      [Icon]="homeTodoIcon"
      title="Tarefas"
      description="Página de gerenciamento das tarefas"
    />

    <td-filter />

    <div class="grid-cards" [ngClass]="{ isNoAssignment: !isAssignment }">
      <ng-container *ngIf="isAssignment; else noAssignment">
        <td-card-task
          *ngFor="let item of assignments"
          [description]="item.description"
          [deadline]="item.deadline"
          [concluded]="item.concluded"
          [id]="item.id"
          
        />
      </ng-container>

      <ng-template #noAssignment>
        <div class="noAssignmentContainer">
          <h2>Sem Tarefas no momento...</h2>
        </div>
      </ng-template>
    </div>
  </div>
</div>
