<div class="container">
  <div class="top-side">
    <div class="header-side" [ngClass]="{ activedHeader: isActivedSide }">
      <img
        class="imgLogo"
        [ngClass]="{ activedLogo: isActivedSide }"
        ngSrc="{{ logoTodoSide }}"
        alt="Image logo side"
        width="85"
        height="45"
      />
      <div
        class="menu-container"
        [ngClass]="{ actived: isActivedSide }"
        (click)="activedSide()"
      >
        <img
          ngSrc="{{ menuTodoSide }}"
          alt="menu_side"
          width="25"
          height="25"
        />
      </div>
    </div>

    <td-button-side
      Icon="Home"
      description="Tarefas"
      [activedButtonHome]="isActivedButtonHome"
      [isActivedSide]="isActivedSide"
      (activedButtonChangeHome)="onActivedButtonChangeHome()"
      (click)="navigate('home')"
    />

    <td-button-task-side
      Icon="Lista"
      description="Listas"
      [activedButtonTask]="isActivedButtonTask"
      [isActivedSide]="isActivedSide"
      (activedButtonChangeTask)="onActivedButtonChangeTask()"
      (click)="navigate('list')"
    />
  </div>

  <div class="footer-side" [ngClass]="{ activedSide: isActivedSide }">
    <div class="user-container">
      <div class="icon-user-container">
        <img [ngSrc]="userTodoIcon" alt="sim" width="25" height="25" />
      </div>

      <div class="user-info" *ngIf="isActivedSide">
        <h4>Carlos Eduardo</h4>

        <p>Usuário</p>
      </div>
    </div>

    <div *ngIf="isActivedSide">
      <img [ngSrc]="logOutTodoIcon" alt="sim" width="22" height="22" />
    </div>
  </div>
</div>
