.container {
  background-color: var(--secundary);
  padding: 17px 20px;
  position: relative;
  grid-area: side;
  height: 100%;

}

.header-side {
  width: 100%;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: none;
    border: none;
    transition: 0.2s;
  }

  .actived {
    transform: rotate(90deg);
  }

  .activedLogo {
    display: block;
  }
}

.imgLogo {
  display: none;
}

.activedHeader {
  justify-content: space-between;
}
