<div class="container">
  <div class="top-side">
    <div class="header-side" [ngClass]="{ activedHeader: isActivedSide }">
      <img
        class="imgLogo"
        [ngClass]="{ activedLogo: isActivedSide }"
        ngSrc="{{ logoTodoSide }}"
        alt="Image logo side"
        width="85"
        height="45"
      />
      <div
        class="menu-container"
        [ngClass]="{ actived: isActivedSide }"
        (click)="activedSide()"
      >
        <img
          ngSrc="{{ menuTodoSide }}"
          alt="menu_side"
          width="25"
          height="25"
        />
     </div>
    </div>

    <td-button-side
      Icon="Home"
      description="Tarefas"
      [activedButtonHome]="isActivedButtonHome"
      [isActivedSide]="isActivedSide"
      (activedButtonChangeHome)="onActivedButtonChangeHome()"
    />

    <td-button-task-side
      Icon="Lista"
      description="Lista"
      [activedButtonTask]="isActivedButtonTask"
      [isActivedSide]="isActivedSide"
      (activedButtonChangeTask)="onActivedButtonChangeTask()"
    />



    
  </div>
</div>
